@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family:
        Inter,
        system-ui,
        sans-serif;

    background: #f8fafc;
    color: #0f172a;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 999px;
}